* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    /* background-color: rgb(104, 20, 153); */
    display: block;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 2vw;
    background-color: transparent;
    /* box-shadow: 0px 5px 27px rgba(84, 154, 247, 0.3); */
    box-shadow: 0px 5px 27px rgb(122 0 255 / 30%);
    /* background-color: rgb(122 0 255 / 30%); */

}

#logo {
        width: 17vw;
    height: 3vw;
    object-fit: cover;
}

#navlink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding-right: 6vw;
}

#navlink a {
    text-decoration: none;
    color: #743089;
    font-size: 1.2vw;
    font-weight: lighter;
    letter-spacing: 1px;
    transition: 0.5s;
}

#navlink a:hover {
    text-decoration: none;
    /* color: rgb(0, 0, 0); */
    color: #743089;
    font-size: 1vw;
    font-weight: lighter;
    letter-spacing: 1px;
    scale: 1.5;
}

nav i{
    display: none;
}

/* syncsway */
.syncsway {
    width: 100vw;
    /* height: 81.8vh; */
    /* background-color: pink; */
    /* position: relative; */
}

.syncsway video {
    width: 100vw;
    /* height: 86vh; */
    object-fit: cover;
    position: relative;
}

.syncwaycont{
   position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.syncsway h1 {
    font-size: 2.2vw;
    font-weight: 100;
    color: #ffffff;
    margin-bottom: 1vw;
    /* margin-top: 10vw; */
}

.syncsway p {
    /* margin-top: 1vw; */
    font-size: 1.5vw;
    line-height: 2.5vw;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    text-align: center;
}

/* what we do */
.weDo {
    width: 100vw;
    min-height: 80vh;
    /* background-color: #f2e8f5; */
}

.weDo h1 {
    text-align: center;
    padding: 5vw;
    font-size: 2vw;
    color: #743089;
}

.thecards {
    /* margin-top: 6vw; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
}

.thecard {
    width: 20vw;
    height: 20vw;
    margin: 1vw;
    /* background-color: yellow; */
    /* position: absolute; */
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    box-shadow: 0px 5px 27px rgba(132, 0, 255, 0.3);
}

.thecard:hover {
    transform: rotateY(180deg);
}

.thefront {
    width: 100%;
    height: 100%;
    /* background-color: black; */
    backface-visibility: hidden;
    position: absolute;
}

.thefront img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* opacity: 0.4; */
}

.thefront h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.theback {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    backface-visibility: hidden;
    /* position: absolute; */
    position: relative;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.theback p {
    text-align: center;
    font-size: 12px;
    margin: 1vw;
    color: rgb(0, 0, 0);
}

.theback a {
background-color: #743089;
    padding: 6px 76px;
    border-radius: 25px;
    position: absolute;
    font-size: 11px;
    top: 81%;
    text-decoration: none;
    /* margin: 1vw; */
    color: rgb(255, 255, 255);
}






/* Our clients */

.brand {
    width: 100vw;
    min-height: 10vh;
    margin: 6vw 0;
}

.clients {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1vw;
}

.clients .bline {
    width: 37vw;
    height: 0.2vw;
    background-color: black;
}

.clients h1 {
    text-align: center;
    padding: 1vw;
    color: #743089;
    font-size: 2vw;
}

.brand .brdimg {
    width: 100vw;
    height: 13vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    gap: 1vw;
    margin: 1vw 0;
    padding: 0 5vw;
}

.brdimg .brdcard {
    width: 15vw;
    /* height: 200px; */
    background-color: violet;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.brdimg .brdcard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}








/* why choose us */
.wal {
    width: 1vw;
    height: 17vw;
    background-color: black;
    margin-left: 3vw;
}

.why {
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(228, 210, 248, 0.3);
    padding: 3vw;
}

.why h1 {
    text-align: center;
    font-size: 2vw;
    color: #743089;
    padding-bottom: 8vw;
}

.wcard1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.wcard1 .wc1 {
    box-shadow: 0px 5px 27px rgb(122 0 255 / 30%);
    width: 35vw;
    height: 20vw;
    background-color: #fff;
    margin: 1vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1vw;
    position: relative;
}

.wcard1 .wc1 .icon {
    position: absolute;
    top: -17%;
    width: 7vw;
    height: 7vw;
    background-color: #f1f1f1;
    border-radius: 50%;
    padding: 1vw;
}

.wcard1 .wc1 .icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wcard1 .wc1 h1 {
    text-align: center;
    font-size: 2vw;
    padding: 1vw 0;
}

.wcard1 .wc1 p {
    text-align: center;
    font-size: 1vw;
}



.wcard2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.wcard2 .wc {
    box-shadow: 0px 5px 27px rgb(122 0 255 / 30%);

    width: 35vw;
    height: 20vw;
    background-color: #fff;
    margin: 5vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1vw;
    position: relative;
}

.wcard2 .wc .icon {
    position: absolute;
    top: -17%;
    width: 7vw;
    height: 7vw;
    background-color: #f1f1f1;
    border-radius: 50%;
    padding: 1vw;
}

.wcard2 .wc .icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wcard2 .wc h1 {
    text-align: center;
    font-size: 2vw;
    padding: 1vw 0;
}

.wcard2 .wc p {
    text-align: center;
    font-size: 1vw;
}
















/* footer */
/* footer {
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} */

footer {
    width: 100vw;
    height: 25vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 1px; */
    box-shadow: 0px 5px 27px rgb(123, 0, 255);
}

footer .footbox {
    width: 50%;
    height: 100%;
    background-color: #3a0a3a;
    /* box-shadow: 0px 5px 27px rgb(122 0 255 / 30%); */
}

#line {
    width: 80%;
    height: 9px;
    box-shadow: 0px 5px 27px rgb(122 0 255 / 30%);
    margin-left: 3vw;
    margin-top: 2vw;

}

#foothead {
    font-size: 1.4vw;
    text-align: center;
    /* margin: 2vw 0vw; */
    /* background-color: #fff; */
    color: white;
    letter-spacing: 1px;
    margin-right: 2vw;
    margin-top: 3vw;
}

#footpara {
    text-align: left;
    font-size: 1.1vw;
    margin: 1vw 1vw;
    line-height: 2vw;
    letter-spacing: 0.5px;
    margin-left: 3vw;
    color: white;
}

.qlink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 100%; */
    margin-top: 1vw;
}

.qlink a {
    font-size: 1vw;
    text-decoration: none;
    font-weight: bolder;
    line-height: 2.5vw;
    transition: 0.5s;
    color: #fff;
    /* background-color:  #743089; */
}

.qlink a:hover {
    background-color: #743089;
    padding: 0.5vw 2vw;
    border-radius: 2vw;
    color: white;
    letter-spacing: 1px;
}

.ul {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 7vw;
    /* margin-top: 1vw; */
}

.ul p {
    line-height: 2.5vw;
    font-size: 1vw;
    font-weight: 700;
    color: white;
}

#footcont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    /* flex-direction: column; */
    margin: 1vw 2vw;
    padding-right: 6vw;
}

#footicons {
    display: flex;
    flex-direction: column;
}

#footicons i {
    font-size: 1.5vw;
    margin: 0.7vw;
    color: rgb(255, 255, 255);
    transition: 0.2s;
}

#footicons i:hover {
    font-size: 1.5vw;
    margin: 0.7vw;
    color: rgb(255, 255, 255);
}

#footiconsdetails {
    display: flex;
    flex-direction: column;
}

#footiconsdetails a {
    font-size: 1vw;
    margin: 0.5vw 0;
    color: white;
    text-decoration: none;
}

#footiconsdetails a:hover {
    font-size: 1vw;
    color: rgb(255, 255, 255);
    text-decoration: dashed;

}

.footimg {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
}

.footimg a {
    text-decoration: none;
}

.footimg i:hover {
    /* text-decoration: none; */
    color: black;
}

.footimg i {
    color: #9e81a0;
    font-size: 2.5vw;
}



/* media query */
@media only screen and (max-width: 800px) {

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 2vw;
    background-color: transparent;
    /* box-shadow: 0px 5px 27px rgba(84, 154, 247, 0.3); */
    box-shadow: 0px 5px 27px rgb(122 0 255 / 30%);
    /* background-color: rgb(122 0 255 / 30%); */

}

#logo {
        width: 17vw;
    height: 3vw;
    object-fit: cover;
}

#navlink {
    display: none;
    /* display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding-right: 6vw; */
}

#navlink a {
    text-decoration: none;
    /* color: #743089; */
    color: red;
    font-size: 1.2vw;
    font-weight: lighter;
    letter-spacing: 1px;
    transition: 0.5s;
}

#navlink a:hover {
    text-decoration: none;
    /* color: rgb(0, 0, 0); */
    color: #743089;
    font-size: 1vw;
    font-weight: lighter;
    letter-spacing: 1px;
    scale: 1.5;
}

nav i {
    display: block
};


/* syncsway */
.syncsway {
    width: 100vw;
    height: 81.8vh;
    /* background-color: pink; */
    /* position: relative; */
}

.syncsway video {
    width: 100vw;
    height: 86vh;
    object-fit: cover;
    position: relative;
}

.syncwaycont{
   position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.syncsway h1 {
    font-size: 2.2vw;
    font-weight: 100;
    color: #ffffff;
    margin-bottom: 1vw;
    /* margin-top: 10vw; */
}

.syncsway p {
    /* margin-top: 1vw; */
    font-size: 1.5vw;
    line-height: 2.5vw;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    text-align: center;
}





}