* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    /* background-color: rgb(104, 20, 153); */
    display: block;

}

.navshow{
    width: 100vw;height: 50vh;background-color: #3a0a3a;position: absolute;z-index: 999;display: flex;align-items: center;justify-content: center;flex-direction: column;gap: 2vw;border-color: #3a0a3a;display: none;
}
.navshow a{
    font-size: 5vw;
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
}
.navshow a:hover{
    background-color: rgb(255, 255, 255);
    color: #3a0a3a;
    padding: 1vw 2vw;
    border-radius: 5vw;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 2vw;
    background-color: transparent;
    /* background: #fcdcff; */
    /* box-shadow: 0px 5px 27px rgba(84, 154, 247, 0.3); */
    box-shadow: 0px 5px 27px rgb(122 0 255 / 30%);
    /* background-color: rgb(122 0 255 / 30%); */

}

#logo {
        width: 17vw;
    height: 3vw;
    object-fit: cover;



}

#navlink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding-right: 6vw;
}

#navlink a {
    text-decoration: none;
    color: #743089;

    font-size: 1.2vw;
    font-weight: lighter;
    letter-spacing: 1px;
    transition: 0.5s;
}

#navlink a:hover {
    text-decoration: none;
    /* color: rgb(0, 0, 0); */
    color: #743089;
    font-size: 1vw;
    font-weight: lighter;
    letter-spacing: 1px;
    scale: 1.5;
}


/* syncsway */
.syncsway {
    width: 100vw;
    height: 64.8vh;
    /* background-color: pink; */
    position: relative;
}

.syncsway img {
    width: 100vw;
    height: 65vh;
    object-fit: cover;
    position: relative;
}

.syncsway h1 {
    position: absolute;
    top: 28%;
    left: 6%;
    font-size: 2.2vw;
    font-weight: 100;
}

.syncsway p {
    position: absolute;
    /* margin: 0px 36vw 0 5vw; */
    font-size: 6.5vw;
    line-height: 2.8vw;
    color: white;
    left: 50%;
    top: 50%;
    font-weight: lighter;
    transform: translate(-50%, -50%);
}






/* Footer Styles */
footer {
  background-color: #3a0a3a;
  padding: 20px 0;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  flex: 1;
  margin: 0 10px;
  max-width: 250px;
}

.footer-column h3 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.footer-column:nth-child(2),
.footer-column:nth-child(3) {
  text-align: center; /* Align text to center for columns 2 and 3 */
}

.footer-column p {
  margin-left: 1vw;
  color: #ffffff;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li a{
  text-decoration: none;
  color: #fff;
}

 .footer-column ul li {
    margin-bottom: 3px;
    transition: 0.5s;
    line-height: 2vw;
  }
  .footer-column ul li:hover {
    font-size: 1vw;
    background-color: #9e81a0;
    border-radius: 2vw;
  }

.contact-info-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.contact-info-row i {
  margin-right: 5px;
  color: #ffffff;
}

.social-icons a{
  }
  .social-icons a i{
        color: #9e81a0;
    font-size: 2.5vw;
    transition: .5s
    ;
  }
  .social-icons a i:hover{
    color: black;
    background-color: #fff;
    padding: .5vw;
  }


/*  */

/* solution */
.Solutions {
    width: 100vw;
    min-height: 100vh;
    background-image: url(https://www.kindpng.com/picc/m/600-6003481_brandlume-digital-marketing-branding-website-services-digital-agency.png);

}

.Solutions h1 {
    text-align: center;
    padding: 2vw 0;
}

 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .p {
  width: 100vw;
    min-height: 0vw;
    background-color: #743089;
    margin: 0vw 5vw;
        border-bottom-left-radius: 3vw;
    border-top-right-radius: 3vw;
  }
.p p{
 font-size: 1.5vw;
    line-height: 2vw;
    padding: 2vw;
    color: #fff
}

.Solu {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}

.solcard {
    width: 350px;
    min-height: 200px;
    margin: 3vw 2vw;
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1vw;
    /* box-shadow: 0px 5px 27px rgba(0, 110, 255, 0.3); */
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 27px rgb(190, 111, 221);
    transition: .3s;
}

.solcard:hover {
    box-shadow: 0px 5px 27px rgb(99, 6, 136);
}
/* asdfdasf */
.solcardimg {
    width: 290px;
    height: 290px;
    margin-top: 2vw;
}

.solcardimg img {
    width: 100%;
    border-radius: 1vw;
    height: 100%;
    object-fit: cover;
}

.solcard h3 {
    margin-top: 1vw;
    color: #1fa7df;
    transition: color 0.3s;
    /* Adding a color transition */
}

.solcard:hover h3 {
    color: white;
    /* Changing text color on card hover */
}

.solcard p {
    text-align: center;
    margin: 2vw 2vw;
    color: rgb(0, 0, 0);
    transition: color 0.3s;
    /* Adding a color transition */
}

.solcard:hover p {
    color: white;
    /* Changing text color on card hover */
}

.solcard a {
    font-size: 1vw;
    padding-bottom: 1vw;
    text-decoration: none;
    color: #1fa7df;
}

.solcard:hover a {
    font-size: 1vw;
    padding-bottom: 1vw;
    text-decoration: none;
    color: #000000;
}



/*  */



@media only screen and (max-width: 800px) {


  .footer-row {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    margin: 6vw 0;
    max-width: 100%;
    text-align: center;
  }

  .footer-column h3 {
    margin-bottom: 10px;
  }

  .footer-column p {
    margin: 1vw 0;
  }

  .footer-column ul li {
    margin-bottom: 3px;
    transition: 0.5s;
    line-height: 4vw;
  }
  .footer-column ul li:hover {
    font-size: 2vw;
    background-color: #9e81a0;
    border-radius: 3vw;
  }

  .contact-info-row {
    margin-bottom: 5px;
  }

.social-icons{
  margin-top: 5vw;
}
  .social-icons a i{
    color: #9e81a0;
    font-size: 15.5vw;
    transition: .5s
    ;
  }
  .social-icons a i:hover{
    color: black;
    background-color: #fff;
    padding: 3vw;
  }
}