* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    /* background-color: rgb(104, 20, 153); */
    display: block;

}

.navshow{
    width: 100vw;height: 50vh;background-color: #3a0a3a;position: absolute;z-index: 999;display: flex;align-items: center;justify-content: center;flex-direction: column;gap: 2vw;border-color: #3a0a3a;display: none;
}
.navshow a{
    font-size: 5vw;
    text-decoration: none;
    color: #fff;
    font-weight: lighter;
}
.navshow a:hover{
    background-color: rgb(255, 255, 255);
    color: #3a0a3a;
    padding: 1vw 2vw;
    border-radius: 5vw;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 2vw;
    background-color: transparent;
    /* box-shadow: 0px 5px 27px rgba(84, 154, 247, 0.3); */
    box-shadow: 0px 5px 27px rgb(122 0 255 / 30%);
    /* background-color: rgb(122 0 255 / 30%); */

}

#logo {
        width: 17vw;
    height: 3vw;
    object-fit: cover;
}

#navlink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding-right: 6vw;
}

#navlink a {
    text-decoration: none;
    color: #743089;
    font-size: 1.2vw;
    font-weight: lighter;
    letter-spacing: 1px;
    transition: 0.5s;
}

#navlink a:hover {
    text-decoration: none;
    /* color: rgb(0, 0, 0); */
    color: #743089;
    font-size: 1vw;
    font-weight: lighter;
    letter-spacing: 1px;
    scale: 1.5;
}

nav i{
    display: none;
}


/* syncsway */
.syncsway {
    width: 100vw;
    /* height: 64.8vh; */
    /* background-color: pink; */
    position: relative;
}

.syncsway img {
    width: 100vw;
    height: 65vh;
    object-fit: cover;
    position: relative;
}

.syncsway h1 {
    position: absolute;
    top: 28%;
    left: 6%;
    font-size: 2.2vw;
    font-weight: 100;
}

.syncsway p {
    position: absolute;
    bottom: 53%;
    margin: 0px 36vw 0 5vw;
    font-size: 1.5vw;
    line-height: 2.8vw;
    color: black;
    left: 1%;
    font-weight: lighter;
}


/* WHO WE ARE */
.who {
    width: 100vw;
    min-height: 0;
    /* background-color: #cf7de7; */
}

.who h1 {
    text-align: left;
    padding: 4vw 5vw;
    font-size: 3vw;
    color: #743089;
    font-weight: lighter;
}

.who h1 span {
    color: black;
}

.whodf {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* flex-direction: column; */
    gap: 2vw;
    padding: 0vw 5vw;
    padding-bottom: 3vw;
}
.whop{
    display: flex;align-items: center;justify-content: center;flex-direction: column;gap: 2vw;
}
.whop P {
    font-size: 1.3vw;
    line-height: 2vw;
    /* text-align: center; */
    /* margin: 0 5vw; */
}

.whodf .whoimgbox {
    width: 340vw;
    height: 29vw;
    background-color: #edd5f0;
}

.whoimgbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vismis {
    width: 100vw;
    min-height: 100vh;
    background-color: #fbf5fc;


    padding-bottom: 5vw;
}

.vismis #v {
    text-align: center;
    padding: 5vw;
}

.vboxs {
    display: flex;
        flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin: 1vw;

}

.vboxs .vbox {
    width: 300px;
    min-height: 300px;
    background-color: rgb(255, 255, 255);
    /* background-image: url(./img/vismisbg.jpeg); */
    box-shadow: 0px 5px 27px rgba(175, 106, 250, 0.3);
    /* box-shadow: #d35858; */
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vw;
    padding: 2vw;
     border-radius: 4vw;
    transition: 0.5s;
     /* background-image: url(./img/vismisbg.jpeg);
background-repeat: no-repeat;
    background-size: cover; */
}

.vbox .icon{
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    padding: 1vw;
    background-color: #fff;
}

.icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vbox h1{
    font-size: 100%;
}

.vbox p {
    font-size: 100%;
    text-align: center;
}

.vbox:hover{
    border-radius: 0vw;
}








/* Footer Styles */
footer {
  background-color: #3a0a3a;
  padding: 20px 0;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  flex: 1;
  margin: 0 10px;
  max-width: 250px;
}

.footer-column h3 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.footer-column:nth-child(2),
.footer-column:nth-child(3) {
  text-align: center; /* Align text to center for columns 2 and 3 */
}

.footer-column p {
  margin-left: 1vw;
  color: #ffffff;
}

.footer-column ul {
  list-style-type: none;
  padding: 0;
}

.footer-column ul li a{
  text-decoration: none;
  color: #fff;
}

 .footer-column ul li {
    margin-bottom: 3px;
    transition: 0.5s;
    line-height: 2vw;
  }
  .footer-column ul li:hover {
    font-size: 1vw;
    background-color: #9e81a0;
    border-radius: 2vw;
  }

.contact-info-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.contact-info-row i {
  margin-right: 5px;
  color: #ffffff;
}

.social-icons a{
  }
  .social-icons a i{
        color: #9e81a0;
    font-size: 2.5vw;
    transition: .5s
    ;
  }
  .social-icons a i:hover{
    color: black;
    background-color: #fff;
    padding: .5vw;
  }



/* media query */
@media only screen and (max-width: 800px) {
   .navshow {
        width: 100vw;
        height: 50vh;
        background-color: #3a0a3a;
        position: absolute;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2vw;
        border-color: #3a0a3a;
        display: none;
    }

    .navshow a {
        font-size: 5vw;
        text-decoration: none;
        color: #fff;
        font-weight: lighter;
    }

    .navshow a:hover {
        background-color: rgb(255, 255, 255);
        color: #3a0a3a;
        padding: 1vw 2vw;
        border-radius: 5vw;
    }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12vw 12vw;
    background-color: transparent;
    /* box-shadow: 0px 5px 27px rgba(84, 154, 247, 0.3); */
    box-shadow: 0px 5px 27px rgb(122 0 255 / 30%);
    /* background-color: rgb(122 0 255 / 30%); */
  }

  #logo {
    width: 30vw;
    height: 3vw;
    object-fit: cover;
  }

  #navlink {
display: none;
}

#btnbar{
  font-size: 6vw;
}

#navlink a {
    text-decoration: none;
    /* color: #743089; */
    color: red;
    font-size: 1.2vw;
    font-weight: lighter;
    letter-spacing: 1px;
    transition: 0.5s;
}

#navlink a:hover {
    text-decoration: none;
    /* color: rgb(0, 0, 0); */
    color: #743089;
    font-size: 1vw;
    font-weight: lighter;
    letter-spacing: 1px;
    scale: 1.5;
}

nav i {
    display: block
};

/* syncsway */
.syncsway {
    width: 100vw;
    /* height: 64.8vh; */
    background-color: pink;
    position: relative;
}

.syncsway img {
    width: 99vw;
    height: 40vh;
    object-fit: cover;
    position: relative;
}

.syncsway h1 {
    position: absolute;
    top: 28%;
    left: 6%;
    font-size: 2.2vw;
    font-weight: 100;
}

.syncsway p {
    position: absolute;
    bottom: 25%;
    margin: 0px 36vw 0 5vw;
    font-size: 5.5vw;
    line-height: 6.8vw;
    color: black;
    left: 1%;
    font-weight: lighter;
}

/* WHO WE ARE */
.who {
    width: 100vw;
    min-height: 0;
    /* background-color: #cf7de7; */
}

.who h1 {
    text-align: center;
    padding: 4vw 5vw;
    font-size: 9vw;
    color: #743089;
    font-weight: lighter;
}

.who h1 span {
    color: black;
}

.whodf {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vw;
    padding: 0vw 5vw;
    padding-bottom: 3vw;
}
.whop{
    display: flex;align-items: center;justify-content: center;flex-direction: column;gap: 2vw;
}
.whop P {
font-size: 4.3vw;
    line-height: 7vw;
    text-align: left;
    margin: 0px 10vw;
}

.whodf .whoimgbox {
    width: 70vw;
    height: 70vw;
    background-color: #edd5f0;
}

.whoimgbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vismis {
    width: 100vw;
    min-height: 100vh;
    background-color: #fbf5fc;
    padding-bottom: 5vw;
}

.vismis #v {
text-align: center;
    padding: 5vw;
    font-size: 9vw;
    letter-spacing: 1px;
}

.vboxs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    margin: 1vw;

}

.vboxs .vbox {
    width: 70vw;
    min-height: 50vw;
    background-color: rgb(255, 255, 255);
    /* background-image: url(./img/vismisbg.jpeg); */
    box-shadow: 0px 5px 27px rgba(175, 106, 250, 0.3);
    /* box-shadow: #d35858; */
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vw;
    padding: 2vw;
     border-radius: 4vw;
    transition: 0.5s;
     /* background-image: url(./img/vismisbg.jpeg);
background-repeat: no-repeat;
    background-size: cover; */
}

.vbox .icon{
    width: 12vw;
    height: 12vw;
    border-radius: 50%;
    padding: 1vw;
    background-color: #fff;
}

.icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vbox h1{
    font-size: 6vw;
}

.vbox p {
    font-size: 4vw;
    text-align: center;
}

.vbox:hover{
    border-radius: 0vw;
}









.footer-row {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    margin: 6vw 0;
    max-width: 100%;
    text-align: center;
  }

  .footer-column h3 {
    margin-bottom: 10px;
  }

  .footer-column p {
    margin: 1vw 0;
  }

  .footer-column ul li {
    margin-bottom: 3px;
    transition: 0.5s;
    line-height: 4vw;
  }
  .footer-column ul li:hover {
    font-size: 2vw;
    background-color: #9e81a0;
    border-radius: 3vw;
  }

  .contact-info-row {
    margin-bottom: 5px;
  }

.social-icons{
  margin-top: 5vw;
}
  .social-icons a i{
    color: #9e81a0;
    font-size: 15.5vw;
    transition: .5s
    ;
  }
  .social-icons a i:hover{
    color: black;
    background-color: #fff;
    padding: 3vw;
  }



}