* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    /* background-color: rgb(104, 20, 153); */
    display: block;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 2vw;
    background-color: transparent;
    /* box-shadow: 0px 5px 27px rgba(84, 154, 247, 0.3); */
    box-shadow: 0px 5px 27px rgb(122 0 255 / 30%);
    /* background-color: rgb(122 0 255 / 30%); */

}

#logo {
        width: 17vw;
    height: 3vw;
    object-fit: cover;



}

#navlink {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding-right: 6vw;
}

#navlink a {
    text-decoration: none;
    color: #743089;
    font-size: 1.2vw;
    font-weight: lighter;
    letter-spacing: 1px;
    transition: 0.5s;
}
/* sfdf */
#navlink a:hover {
    text-decoration: none;
    /* color: rgb(0, 0, 0); */
    color: #743089;
    font-size: 1vw;
    font-weight: lighter;
    letter-spacing: 1px;
    scale: 1.5;
}


body img{
    width: 95vw;
    height: 90vh;
}